$color-navigation: #828282;
$color-navigation_hover: #070707;
$color-text: #070707;
$color-contacts_text-socialNetwork: #828282;
$color-about-me_background: #f6f6f6;

$width-content: 941px;
$width-mobile: 375px;
