@mixin font($size: 16px, $height: 24px, $weight: 400) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin media-mobile {
  @media (max-width: $width-mobile) {
    @content;
  }
}
